.progress{
    width: 400px;
    height: 30px;
    border: 1px solid #333;   
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.progress-line{
    width: 58%;
    height: 100%;
    background-color: #fc3;
}

.percents {
    position: absolute;
    z-index: 1;
    display: block;
    text-align: center;
    left: 0;
    top: 5px;
    font-weight: bold;
    width: 100%;
}

.circle{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 50px solid #333;
    border-right: 50px solid rgb(202, 59, 59);
    background-color: #fc3;
    box-sizing: border-box;
    transform: rotate(-45deg);
    box-shadow: 0 0 0 1px black, inset 0 0 0 2px black;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-percent{
    font-size: 30px; 
    transform: rotate(45deg);
}
